*.gem
*.rbc
.idea
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/examples.txt
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
._*
mkmf.log
.DS_Store
.DS_Store?
.Trashes
.thumbs.db
